/* Nova atividade: Já havia utilizado tudo anteriormente citado */
body{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #d3d3d3;
    padding: 100px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ffffe0;
}

a{
    text-decoration: none;
}



.main{
    background-color: rgba(85, 156, 103, 1);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(80, 79, 79, 1) ;
    
}

.btn{
    background-color: rgb(173, 173, 229);
    padding: 10px;
    border-radius: 8px;
    border-style:double;
    margin-bottom: 20px;
    width: 100px;
    margin: 10px;
}

.content{
    background-color: rgb(240, 255, 255);
    line-height: 40px;
    padding: 10px;
    height: 400px;
    align-items: center;
    display: flex;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(80, 79, 79) ;
}


